<a href="https://colab.research.google.com/github/umutk11/data_science/blob/main/ch02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# this notebook taken from website:
https://github.com/wesm/pydata-book/tree/3rd-edition

In [ ]:
import numpy as np
np.random.seed(12345)
np.set_printoptions(precision=4, suppress=True)

In [ ]:
np.set_printoptions?

In [ ]:
import numpy as np
data = [np.random.standard_normal() for i in range(7)]
data

In [ ]:
a = [1, 2, 3]

In [ ]:
# @title Varsayılan başlık metni
b = a
b

In [ ]:
a.append(4)
b

In [ ]:
def append_element(some_list, element):
    some_list.append(element)

In [ ]:
data = [1, 2, 3]
append_element(data, 4)
data

In [ ]:
a = 5
print(type(a))
a = "foo"
type(a)

In [ ]:
"5" + 5

In [ ]:
a = 4.5
b = 2
# String formatting, to be visited later
print(f"a is {type(a)}, b is {type(b)}")
a / b

In [ ]:
a = 5
isinstance(a, int)

In [ ]:
a = 5; b = 4.5
isinstance(a, (int, float))
isinstance(b, (int, float))

In [ ]:
a = "foo"

In [ ]:
getattr(a, "split")

In [ ]:
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError: # not iterable
        return False

In [ ]:
isiterable("a string")
isiterable([1, 2, 3])
#isiterable(5)

In [ ]:
5 - 7
12 + 21.5
5 <= 2

In [ ]:
a = [1, 2, 3]
b = a
c = list(a)
a is b
a is not c

In [ ]:
a == c

In [ ]:
a = None
a is None

In [ ]:
a_list = ["foo", 2, [4, 5]]
a_list[2] = (3, 4)
a_list

In [ ]:
a_tuple = (3, 5, (4, 5))
a_tuple[1] = "four"

In [ ]:
ival = 17239871
ival ** 6

In [ ]:
fval = 7.243
fval2 = 6.78e-5

In [ ]:
3 / 2

In [ ]:
3 // 2

In [ ]:
c = """
This is a longer string that
spans multiple lines
"""

In [ ]:
c.count("\n")

In [ ]:
a = "this is a string"
a[10] = "f"

In [ ]:
b = a.replace("string", "longer string")
b

In [ ]:
a

In [ ]:
a = 5.6
s = str(a)
print(s)

In [ ]:
s = "python"
list(s)
s[:3]

In [ ]:
s = "12\\34"
print(s)

In [ ]:
s = r"this\has\no\special\characters"
s

In [ ]:
a = "this is the first half "
b = "and this is the second half"
a + b

In [ ]:
template = "{0:.2f} {1:s} are worth US${2:d}"

In [ ]:
template.format(88.46, "Argentine Pesos", 1)

In [ ]:
amount = 10
rate = 88.46
currency = "Pesos"
result = f"{amount} {currency} is worth US${amount / rate}"

In [ ]:
f"{amount} {currency} is worth US${amount / rate:.2f}"

In [ ]:
val = "español"
val

In [ ]:
val_utf8 = val.encode("utf-8")
val_utf8
type(val_utf8)

In [ ]:
val_utf8.decode("utf-8")

In [ ]:
val.encode("latin1")
val.encode("utf-16")
val.encode("utf-16le")

In [ ]:
True and True
False or True

In [ ]:
int(False)
int(True)

In [ ]:
a = True
b = False
not a
not b

In [ ]:
s = "3.14159"
fval = float(s)
type(fval)
int(fval)
bool(fval)
bool(0)

In [ ]:
a = None
a is None
b = 5
b is not None

In [ ]:
from datetime import datetime, date, time
dt = datetime(2011, 10, 29, 20, 30, 21)
dt.day
dt.minute

In [ ]:
dt.date()
dt.time()

In [ ]:
dt.strftime("%Y-%m-%d %H:%M")

In [ ]:
datetime.strptime("20091031", "%Y%m%d")

In [ ]:
dt_hour = dt.replace(minute=0, second=0)
dt_hour

In [ ]:
dt

In [ ]:
dt2 = datetime(2011, 11, 15, 22, 30)
delta = dt2 - dt
delta
type(delta)

In [ ]:
dt
dt + delta

In [ ]:
a = 5; b = 7
c = 8; d = 4
if a < b or c > d:
    print("Made it")

In [ ]:
4 > 3 > 2 > 1

In [ ]:
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i, j))

In [ ]:
range(10)
list(range(10))

In [ ]:
list(range(0, 20, 2))
list(range(5, 0, -1))

In [ ]:
seq = [1, 2, 3, 4]
for i in range(len(seq)):
    print(f"element {i}: {seq[i]}")

In [ ]:
total = 0
for i in range(100_000):
    # % is the modulo operator
    if i % 3 == 0 or i % 5 == 0:
        total += i
print(total)

In [ ]:
range(100_000)

# HomeWork Questions

In [ ]:
# Q1: write a code how many days left since your birth date

In [ ]:
# Q2:write a code to count how many vowels in a name. And call the function to count yours and your best friend

In [ ]:
# Q3:write a code to count how many unique vowels (do not count duplicate vowels) in a name. And call the function to count yours and your best friend